.wishlist li {
    list-style: none;
}

.list {
    display: flex;
    justify-content: baseline;
}

.buttonReturn {
    width: 20rem;
    height: 2.5rem;
    color: white;
    font-size: 0.75rem;
    font-weight: 500;
    background: none;
    border-radius: 50px;
    border: solid #ffffff 2px;
}

.divButton {
    display: flex;
    justify-content: center;
}

.inspoIdeas {
    font-size: 1.25rem;
}

.item {
    width: 150px;
    height: 150px;
}

.container {
    width: 100%;
}
